    <% layout('layouts/boilerplate') %>
    <h1>All Ratings</h1>
    <div>
        <a href="/ratings/new">Rate a teacher</a>
    </div>
    <ul>
        <% for (let rating of ratings) { %> 
            <li><a href="/ratings/<%= rating._id %> "><%= rating.teacher %></a></li>
        <% } %> 
    </ul>